<!DOCTYPE html>
<html lang="en" class="scroll-smooth" style="height: 100%">
    <head>
        <%= render "head", metadata: site.metadata, title: data.title %>
        <script src='https://js.tito.io/v2' async></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.13/dist/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/ScrollTrigger.min.js"></script>
        <script type="text/javascript">
        gsap.registerPlugin(ScrollTrigger);
        </script>

    </head>
    <body style="height: 100%">
        <%#= render Shared::Navbar.new(site: site, metadata: site.metadata, resource: resource) %>
        <%= yield %>
        <%= render 'footer', metadata: site.metadata %>
    </body>
</html>
