---
layout: default
---

<div id="sky"
    class="pt-[80px] md:pt-[100px] lg:pt-[120px] xl:pt-[100px]"
>
  <div class="container">
      <div class="-mx-4 flex flex-wrap items-center">
          <div class="w-full px-4">
              <div class="text-center">
                  <h1 class="text-4xl font-semibold text-white">
                      <%= data.title %>
                  </h1>
              </div>
          </div>
      </div>
  </div>
  <img src="/assets/images/hero/mountains.svg" alt="" class="front-mountains" />
</div>
<section>
      <div class="z-0 bg-[#1D1266] pb-8">
          <div class="-mx-4 flex flex-wrap justify-center">
              <div class="w-full px-4">
                  <div class="-mx-4 flex flex-wrap">
                      <div class="w-full px-4">
                          <div class="bg-white mx-4 p-2 md:mx-16 md:p-8 mt-[60px]">
                              <%= yield %>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
