<!DOCTYPE html>
<html lang="en" class="scroll-smooth" style="height: 100%">
    <head>
        <%= render "head", metadata: site.metadata, title: data.title %>
    </head>
    <body style="height: 100%">
        <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource) %>
        <%= render "hero", metadata: site.metadata %>
        <%# render "features", metadata: site.metadata %>
        <%# render "about", metadata: site.metadata %>
        <%# render "pricing", metadata: site.metadata %>
        <%# render "faq", metadata: site.metadata %>
        <%# render "testimonials", metadata: site.metadata %>
        <%# render "team", metadata: site.metadata %>
        <%# render "contact", metadata: site.metadata %>
        <%# render "footer", metadata: site.metadata %>
        <%# render "back_to_top", metadata: site.metadata %>

    <script>
    </script>
  </body>
</html>
