---
layout: page
title: Boulder Guide
top_level: false
---

<div class="max-w-5xl mx-auto text-lg leading-relaxed text-[#404040] mb-20">
  <h2 class="mb-4 text-3xl font-bold text-primary sm:text-4xl md:text-[42px]">
    Welcome to Boulder!
  </h2>
  <p class="mb-8 text-base leading-relaxed">
    This guide will help you get to know the city and its surroundings and plan
    your time outside of the conference.
  </p>
  <h3 class="text-[28px] font-medium text-primary">Weather</h3>
  <p class="mb-8 text-base leading-relaxed">
      The weather in Boulder is generally sunny and dry, with low humidity. In
      early October, daytime temperature are normally in the uppers 60s and low
      70s (18째-23째C) and the average low is 40째F (4째C).
  </p>
  <h3 class="text-[28px] font-medium text-primary">Transportation</h3>
  <p class="mb-8 text-base leading-relaxed">
  </p>
  <h3 class="text-[28px] font-medium text-primary">Coffee</h3>
  <div class="mb-10 w-full">
      <ul>
          <li class="px-3">
              <a href="https://www.boxcarcoffeeroasters.com/" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-dark">
                  Boxcar Coffee Roasters
              </a>
              <address class="text-base leading-relaxed">
                  1825 Pearl St, Boulder, CO 80302
              </address>
          </li>
      </ul>
  </div>
  <h3 class="text-[28px] font-medium text-primary">Food</h3>
  <div class="mb-10 w-full">
      <ul>
          <li class="px-3">
              <a href="https://www.leafvegetarianrestaurant.com/" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-dark">
                  Leaf Vegetarian Restaurant
              </a>
              <address class="text-base leading-relaxed">
                  1617 Pearl St, Boulder, CO 80302
              </address>
          </li>
      </ul>
  </div>
  <h3 class="text-[28px] font-medium text-primary">Drinks</h3>
  <div class="mb-10 w-full">
      <ul>
          <li class="px-3">
              <a href="https://www.license.no/" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-dark">
                  License No. 1
              </a>
              <address class="text-base leading-relaxed">
                  2115 13th St, Boulder, CO 80302
              </address>
          </li>
      </ul>
  </div>
  <h3 class="text-[28px] font-medium text-primary">Activities</h3>
  <div class="mb-10 w-full">
      <ul>
          <li class="px-3">
              <a href="https://streetwisearts.org/walking-tours/" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-dark">
                  Streetwise Boulder Mural Walking Tour
              </a>
          </li>

          <li class="px-3">
              <a href="https://jdsjoyrides.com/" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-dark">
                    JD's Joyrides - eBike Tours
              </a>
          </li>
      </ul>
  </div>
</div>
