<!------->
<!--layout: page-->
<!--title: Schedule-->
<!--top_level: true-->
<!--enabled: false-->
<!------->
<!--<h3 class="mb-8 text-2xl font-semibold md:text-[26px]">-->
<!--  Wednesday, October 4th, 2023-->
<!--</h3>-->
<!--<table class="table-auto border-collapse border border-gray-400 text-dark mb-8">-->
<!--  <tbody>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">2:00 - 4:00</td>-->
<!--      <td class="px-4 py-2 border border-gray-400">Early Check in (2hr) at <a class="hover:text-primary font-semibold" href="https://maps.app.goo.gl/749vaNirFkmVvec86">Dojo4, 2030 17th Street</a></td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->

<!--</h3>-->
<!--<h3 class="mb-8 text-2xl font-semibold md:text-[26px]">-->
<!--  Thursday, October 5th, 2023-->
<!--</h3>-->
<!--<table class="table-auto border-collapse border border-gray-400 text-dark mb-8">-->
<!--  <tbody>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">8:00 - 9:00</td>-->
<!--      <td class="px-4 py-2 border border-gray-400">Check-in / Breakfast (1h)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">9:00 - 10:00</td>-->
<!--      <td class="px-4 py-2 border border-gray-400">Welcome / <%#= render 'talk_link', slug: 'a-blueprint-for-making-scary-choices' -%> (45m)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">10:00 - 10:45</td>-->
<!--      <td class="px-4 py-2 border border-gray-400"><%#= render 'talk_link', slug: 'accessible-by-default' -%> (45m)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">10:45 - 11:15</td>-->
<!--      <td class="px-4 py-2 border border-gray-400">Break (30m)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">11:15 - 12:00</td>-->
<!--      <td class="px-4 py-2 border border-gray-400"><%#= render 'talk_link', slug: 'modularizing-rails-monoliths-one-bite-at-a-time' %> (45m)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">12:00 - 2:00</td>-->
<!--      <td class="px-4 py-2 border border-gray-400">Lunch (2h)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">2:00 - 2:45</td>-->
<!--      <td class="px-4 py-2 border border-gray-400"><%#= render 'talk_link', slug: 'go-pro-with-poros' %> (45m)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">2:45 - 3:30</td>-->
<!--      <td class="px-4 py-2 border border-gray-400"><%#= render 'talk_link', slug: 'let-s-extract-a-class-the-single-responsibility-principle-and-design-patterns' %> (45m)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">3:30 - 4:00</td>-->
<!--      <td class="px-4 py-2 border border-gray-400">Break (30m)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">4:00 - 5:00</td>-->
<!--      <td class="px-4 py-2 border border-gray-400"><%#= render 'talk_link', slug: 'who-wants-to-be-a-ruby-engineer' %> / Closing (1h)</td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->

<!--<h3 class="mb-8 text-2xl font-semibold md:text-[26px]">-->
<!--  Friday, October 6th, 2023-->
<!--</h3>-->

<!--<table class="table-auto border-collapse border border-gray-400">-->
<!--  <tbody>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">8:00 - 9:00</td>-->
<!--      <td class="px-4 py-2 border border-gray-400">Breakfast (1h)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">9:00 - 9:15</td>-->
<!--      <td class="px-4 py-2 border border-gray-400">Welcome (15m)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">9:15 - 10:00</td>-->
<!--      <td class="px-4 py-2 border border-gray-400"><%#= render 'talk_link', slug: 'caching-strategies-on-https-dev-to' %> (45m)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">10:00 - 10:45</td>-->
<!--      <td class="px-4 py-2 border border-gray-400"><%#= render 'talk_link', slug: 'a-return-to-simplicity-architect-hypermedia-rest-applications-using-hanami-htmx' %> (45m)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">10:45 - 11:15</td>-->
<!--      <td class="px-4 py-2 border border-gray-400">Break (30m)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">11:15 - 12:00</td>-->
<!--      <td class="px-4 py-2 border border-gray-400"><%#= render 'talk_link', slug: 'licensing-and-distributing-a-paid-cli-with-ruby-rails-and-swiftui' %> (45m)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">12:00 - 2:00</td>-->
<!--      <td class="px-4 py-2 border border-gray-400">Lunch (2h)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">2:00 - 2:45</td>-->
<!--      <td class="px-4 py-2 border border-gray-400">Lightning Talks (45m)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">2:45 - 3:30</td>-->
<!--      <td class="px-4 py-2 border border-gray-400"><%#= render 'talk_link', slug: 'turbo-frames-explored-for-fun-and-profit' %> (45m)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">3:30 - 4:00</td>-->
<!--      <td class="px-4 py-2 border border-gray-400">Break (30m)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">4:00 - 4:45</td>-->
<!--      <td class="px-4 py-2 border border-gray-400"><%#= render 'talk_link', slug: 'the-pursuit-of-happiness' %> (45m)</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="px-4 py-2 border border-gray-400">4:45 - 5:00</td>-->
<!--      <td class="px-4 py-2 border border-gray-400">Wrap Up (15m)</td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->
