---
layout: page
title: Sessions
top_level: false
enabled: true
---
<script type="text/javascript" src="https://sessionize.com/api/v2/6as69qaz/view/Sessions"></script>
<a href="https://2023.rockymtnruby.dev/#program" class="text-primary hover:text-dark" target="_blank">View our 2023 program and talks.</a>
