---
layout: page
title: Speakers
top_level: true
enabled: true
---
<script type="text/javascript" src="https://sessionize.com/api/v2/d9wdeq1y/view/Speakers"></script>
<div class="flex flex-col">
  <h4>Archive</h4>
  <a href="https://2024.rockymtnruby.dev/#program" class="text-primary hover:text-dark" target="_blank">2024 program and talks.</a>
  <a href="https://2023.rockymtnruby.dev/#program" class="text-primary hover:text-dark" target="_blank">2023 program and talks.</a>
</div>
