/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

h4 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 42px;
  text-align: left;
}

h6 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-align: left;
}

p {
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
}

a {
  font-weight: 200;
  font-size: 1rem;
  text-align: left;
}

@media (max-width: 540px) {
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  p {
    font-size: 0.75rem;
  }
}

.header-logo {
  max-height: 60px;
}

.sticky {
  @apply fixed z-[9999] bg-white bg-opacity-80 transition;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sticky .navbar-logo {
  @apply py-2;
}

.sticky #navbarToggler span {
  @apply bg-dark;
}

.sticky #navbarCollapse li a {
  @apply text-dark hover:text-primary hover:opacity-100;
}

#navbarCollapse li .ud-menu-scroll.active {
  @apply opacity-70;
}
.sticky #navbarCollapse li .ud-menu-scroll.active {
  @apply text-primary opacity-100;
}
.sticky .loginBtn {
  @apply text-dark hover:text-primary hover:opacity-100;
}

.sticky .signUpBtn {
  @apply bg-primary text-white hover:bg-dark hover:text-white;
}

.navbarTogglerActive > span:nth-child(1) {
  @apply top-[7px] rotate-45 transform;
}
.navbarTogglerActive > span:nth-child(2) {
  @apply opacity-0;
}
.navbarTogglerActive > span:nth-child(3) {
  @apply top-[-8px] rotate-[135deg];
}

.white-icon {
  stroke: white;
  height: 35px;
  width: 35px;
  stroke-width: 1;
}

.text-ruby {
  color: #9b111e;
}

.text-sapphire {
  color: #0f52ba;
}

.text-emerald {
  color: #046307;
}

.sponsor-ruby {
  @apply max-w-[350px];
}

.sponsor-sapphire {
  @apply max-w-[325px];
  & img {
    @apply w-[325px];
  }
}

.sponsor-emerald {
  @apply max-w-[275px];
}

.sponsor-community {
  @apply max-w-[200px];
}

.sponsor-podcast {
  @apply max-w-[100px];
  & img {
    @apply max-h-[50px];
  }
}

.sponsor-travel {
  @apply max-w-[100px];
  & img {
    @apply max-h-[50px];
  }
}

.cloud {
  z-index: 2;
  position: absolute;
}

#cloud1 {
  width: 700px;
  height: 186px;
  top: 50px;
  left: -100px;
  background-image: url('data:image/svg+xml,<svg width="700" height="186" viewBox="0 0 700 186" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M402 0C441.026 0 474.436 24.0387 488.234 58.1162C504.588 45.154 524.925 38 546 38C570.665 38 594.32 47.7984 611.761 65.2393C626.502 79.9803 635.782 99.1604 638.303 119.638C672.748 121.854 700 150.495 700 185.5H411.69C408.505 185.83 405.272 186 402 186C398.728 186 395.495 185.83 392.31 185.5H0C0 149.049 29.5492 119.5 66 119.5H71.7129C74.2577 99.0744 83.5312 79.9473 98.2393 65.2393C115.68 47.7984 139.335 38 164 38C188.665 38 212.32 47.7984 229.761 65.2393C232.828 68.3063 235.658 71.5662 238.24 74.9893C247.546 66.8983 259.701 62 273 62C287.552 62 300.733 67.8651 310.311 77.3594C317.748 33.4441 355.968 0 402 0Z" fill="url(%23paint0_linear_478_1446)"/><defs><linearGradient id="paint0_linear_478_1446" x1="350" y1="0" x2="350" y2="186" gradientUnits="userSpaceOnUse"><stop stop-color="white"/><stop offset="1" stop-color="%23E9E5FF"/></linearGradient></defs></svg>');
}

#cloud2 {
  width: 700px;
  height: 283px;
  top: 100px;
  right: -150px;
  background-image: url('data:image/svg+xml,<svg width="700" height="283" viewBox="0 0 700 283" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M346 0C409.141 0 462.516 41.8008 479.97 99.2383C494.62 89.6047 512.156 84 531 84C582.362 84 624 125.638 624 177C624 191.123 620.851 204.511 615.218 216.5H634C670.451 216.5 700 246.049 700 282.5H0C0 246.049 29.5492 216.5 66 216.5H71.7129C74.2577 196.074 83.5312 176.947 98.2393 162.239C115.68 144.798 139.335 135 164 135C178.765 135 193.167 138.512 206.092 145.071C206.032 143.388 206 141.698 206 140C206 62.6801 268.68 0 346 0Z" fill="url(%23paint0_linear_478_1452)"/><defs><linearGradient id="paint0_linear_478_1452" x1="350" y1="0" x2="350" y2="282.5" gradientUnits="userSpaceOnUse"><stop stop-color="white"/><stop offset="1" stop-color="%23E9E5FF"/></linearGradient></defs></svg>');
}

#cloud3 {
  width: 382px;
  height: 148px;
  top: 450px;
  left: -200px;
  background-image: url('data:image/svg+xml,<svg width="382" height="148" viewBox="0 0 382 148" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M164 0C188.665 1.86217e-06 212.32 9.79838 229.761 27.2393C232.828 30.3063 235.658 33.5662 238.24 36.9893C247.546 28.8983 259.701 24 273 24C302.271 24 326 47.7289 326 77C326 78.9285 325.895 80.8328 325.694 82.708C357.549 87.397 382 114.843 382 148H0C0 111.549 29.5492 82 66 82H71.6543C74.1092 61.3868 83.4113 42.0672 98.2393 27.2393C115.68 9.79838 139.335 -2.69055e-09 164 0Z" fill="%23D9D9D9"/><path d="M164 0C188.665 1.86217e-06 212.32 9.79838 229.761 27.2393C232.828 30.3063 235.658 33.5662 238.24 36.9893C247.546 28.8983 259.701 24 273 24C302.271 24 326 47.7289 326 77C326 78.9285 325.895 80.8328 325.694 82.708C357.549 87.397 382 114.843 382 148H0C0 111.549 29.5492 82 66 82H71.6543C74.1092 61.3868 83.4113 42.0672 98.2393 27.2393C115.68 9.79838 139.335 -2.69055e-09 164 0Z" fill="url(%23paint0_linear_478_1457)"/><defs><linearGradient id="paint0_linear_478_1457" x1="191" y1="0" x2="191" y2="148" gradientUnits="userSpaceOnUse"><stop stop-color="white"/><stop offset="1" stop-color="%23E9E5FF"/></linearGradient></defs></svg>');
}

#sky {
  z-index: 3; /* slide under groups 1 and 3 */
  width: 100%;
  /*transform: scale(1.2); !* Zoom in *!*/
}

#sky .parallax__layer--back {
  height: 500px; /* fallback for older browsers */
  height: 80vh;
  background: #998aff;
  background: linear-gradient(
          180deg,
          rgba(153, 138, 255, 1) 0%,
          rgba(255, 235, 229, 1) 95%
  );
}

#sky .text-block {
  text-align: center;
  margin-left: auto;
  padding-top: 200px;
  position: relative;
  z-index: 100;
}

#mountain {
  position: relative;
  z-index: 5;
  height: 50vh;
  /*transform: scale(1.2); !* Zoom in *!*/
  transform-origin: center bottom;
  width: 100%;
  /*left: 50%;*/
  /*right: 50%;*/
  /*margin-left: -50vw;*/
  /*margin-right: -50vw;*/
  overflow: visible;
  /* Remove or adjust any max-width if present */
}

#mountain .parallax__layer--back {
  position: relative;
  margin-top: -225px;
  height: 500px; /* fallback for older browsers */
  height: 80vh;
  background-size: cover;
  background-image: url('../../src/assets/images/hero/back-mountains.svg');}

#mountain .parallax__layer--base {
  position: relative;
  height: 100vh;
  top: -40vh;
  background-size: cover;
  background-image: url('../../src/assets/images/hero/front-mountains.svg');
}

#mountain .parallax__layer--fore {
  position: relative;
  top: 10vh;
  left: 0;
  z-index: 1000;
}

#trees {
  position: relative;
  z-index: 5;
  height: 100vh;
  /*transform: scale(1.2); !* Zoom in *!*/
  transform-origin: center bottom;
  width: 100%;
  /*left: 50%;*/
  /*right: 50%;*/
  /*margin-left: -50vw;*/
  /*margin-right: -50vw;*/
  overflow: visible;
  /* Remove or adjust any max-width if present */
}

#trees .parallax__layer--back {
  position: relative;
  margin-top: -40px;
  height: 600px; /* fallback for older browsers */
  height: 120vh;
  background-size: cover;
  background-image: url('../../src/assets/images/hero/trees-light.svg');
}

#trees .parallax__layer--base {
  position: relative;
  height: 90vh;
  top: -50vh;
  background-size: cover;
  background-image: url('../../src/assets/images/hero/trees-dark.svg');
}


#trees .parallax__layer--fore {
  position: relative;
  top: 10vh;
  left: 0;
  z-index: 1000;
}

.mountain-text-box {
  position: absolute;
  top: 80vh; /* Adjust as needed to place over mountains */
  left: 50%;
  transform: translateX(-50%);
  max-width: 760px;
  width: 90%;
  border-radius: 16px;
  padding: 2rem;
  z-index: 20;
  text-align: center;
}

@media (max-width: 540px) {
  .mountain-text-box {
    max-width: 100%;
    left: 0;
    transform: none;
    margin: 0 1rem;
  }
}
/*footer {*/
/*  !*margin-top: -20vh;*!*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  align-items: flex-start;*/
/*  padding: 40px 115px;*/
/*  gap: 36px;*/

/*  position: absolute;*/
/*  width: 1440px;*/
/*  height: 382px;*/
/*  left: calc(50% - 1440px/2);*/
/*  bottom: 0px;*/

/*  background: #100747;*/
/*}*/
