<section
    id="cfp"
    class="pt-20 pb-20 lg:pt-[120px] lg:pb-[120px] bg-[#fef4f4]"
>
    <div class="container">
        <div class="wow fadeInUp bg-white" data-wow-delay=".2s">
            <div class="-mx-4 flex flex-wrap">
                <div class="w-full px-4">
                    <div
                        class="items-center justify-between overflow-hidden border lg:flex text-body-color"
                    >
                        <div
                            class="w-full py-12 px-7 sm:px-12 md:p-16 lg:py-9 lg:px-16 xl:p-[70px]"
                        >
                            <h2
                                class="mb-6 text-3xl font-bold text-dark sm:text-4xl sm:leading-snug 2xl:text-[40px]"
                            >
                                Call for Papers
                            </h2>
                            <div class="mb-2 text-base leading-relaxed text-body-color">
                              Rocky Mountain Ruby is excited to host a diverse and dynamic conference in Boulder, Colorado on October 6-7, 2025. We are seeking a broad range of talks to captivate Ruby developers at every level.
                            </div>
                            <div>
                              Join us in creating an inspiring and educational experience for the Ruby community!
                            </div>
                            <div class="mt-2 mb-9">
                              Travel and accommodation support up to $500 is available for speakers, based on financial need. To apply, please contact us.
                            </div>
                            <h3
                                class="mb-6 text-3xl font-bold text-dark sm:text-4xl sm:leading-snug 2xl:text-[30px]"
                            >
                                Guidelines
                            </h3>

                            <ul class="pl-5 list-decimal mb-9 text-base text-body-color" >
                              <li class="mb-2"><b>Variety</b>: We welcome multiple proposals from each speaker.</li>
                              <li class="mb-2"><b>Topics</b>: Both technical and non-technical subjects are encouraged, as long as they cater to a Rubyist audience. Talks can range from beginner to advanced levels.</li>
                              <li class="mb-2"><b>Duration</b>: Presentations should be 30 to 45 minutes in length.</li>
                              <li class="mb-2"><b>Delivery</b>: Talks must be delivered in English and in-person, in Boulder.</li>
                            </ul>
                            <span class="mb-2 block text-sm font-semibold text-primary">
                                Our CFP closes on June 30th at midnight (MDT).
                            </span>
                            <a
                                href="https://sessionize.com/rocky-mountain-ruby/"
                                class="inline-flex items-center justify-center rounded bg-primary py-4 px-6 text-base font-medium text-white transition duration-300 ease-in-out hover:bg-opacity-90 hover:shadow-lg"
                                target="_blank"

                            >
                                Submit a Proposal
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
