<section
    id="cfp"
    class="pt-20 pb-20 lg:pt-[120px] lg:pb-[120px] bg-[#fef4f4]"
>
    <div class="container">
        <div class="wow fadeInUp bg-white" data-wow-delay=".2s">
            <div class="-mx-4 flex flex-wrap">
                <div class="w-full px-4">
                    <div
                        class="items-center justify-between overflow-hidden border lg:flex"
                    >
                        <div
                            class="w-full py-12 px-7 sm:px-12 md:p-16 lg:py-9 lg:px-16 xl:p-[70px]"
                        >
                            <h2
                                class="mb-6 text-3xl font-bold text-dark sm:text-4xl sm:leading-snug 2xl:text-[40px]"
                            >
                                Call for Papers
                            </h2>
                            <p class="mb-9 text-base leading-relaxed text-body-color">
                                Rocky Mountain Ruby is regional Ruby conference in to Boulder, Colorado on October 5-6, 2023. We are looking for a wide range of talks that will be of interest to Ruby developers. We are aiming for a diverse and creative line-up of speakers. This CFP closes on June 30th, 2023 at midnight (MDT). Proposals will be accepted or rejected by July 15th, 2023.
                            </p>
                            <p class="mb-9 text-base leading-relaxed leading-relaxed text-body-color">
                                The main ‘thrust' is to focus on educating attendees on how
                                to best protect highly vulnerable business applications with
                                interactive panel.
                            </p>

                            <h3
                                class="mb-6 text-3xl font-bold text-dark sm:text-4xl sm:leading-snug 2xl:text-[30px]"
                            >
                                Guidelines
                            </h3>

                            <ul class="pl-5 list-decimal mb-9 text-base text-body-color" >
                                <li class="mb-2">
                                    Speakers are welcome to submit multiple talk proposals.
                                </li>
                                <li class="mb-2">
                                    Topics can be technical or non-technical, and from beginner to advanced, but should be aimed toward a Rubyist audience.

                                </li>
                                <li class="mb-2">
                                    Talks will be 30 minutes in length.
                                </li>
                                <li class="mb-2">
                                    Talks should be delivered in English and in-person, in Boulder.
                                </li>
                            </ul>
                            <span class="mb-2 block text-sm font-semibold text-primary">
                                Our CFP closed on June 30th at midnight (MDT).
                            </span>
                            <a
                                href="javascript:void(0)"
                                class="inline-flex items-center justify-center rounded bg-primary py-4 px-6 text-base font-medium text-white transition duration-300 ease-in-out hover:bg-opacity-90 hover:shadow-lg opacity-50 cursor-not-allowed"
                                disabled

                            >
                                Comming Soon
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
