<section id="contact" class="relative py-4 md:py-[40px]">
    <div
        class="absolute top-0 left-0 z-[-1] h-full w-full bg-[#f4f6ff] lg:h-full xl:h-full"
    ></div>
    <div class="container w-full">
        <div class="flex w-full flex-col md:flex-row lg:flex-row xl:flex-row">
            <div class="w-full md:w-1/2 lg:w-1/2 xl:w-1/2">
                <div class="ud-contact-content-wrapper">
                    <div class="ud-contact-title mb-12 lg:mb-[150px]">
                        <span class="mb-5 text-base font-semibold text-dark">
                            SIGN UP
                        </span>
                        <h2 class="text-[35px] font-semibold">
                            To be notified about <br />
                            Rocky Mountain Ruby updates
                        </h2>
                    </div>
                    <div class="mb-12 flex flex-wrap justify-between lg:mb-0">
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/2 xl:w-1/2">
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf6BG9bo8pTSmZE6L37-PXMFIFMJZ36SNZMvXKz-EBe3MUi0g/viewform?embedded=true" width="400" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
        </div>
    </div>
</section>
