<img src="/assets/images/faqs/header-trees.svg" class="w-full faq-header-trees" alt="" />
<section id="faq" class="faq-content pt-24" style="position: relative;">
    <div class="container">
        <header class="text-center">
            <h1>FAQs</h1>
            <h3>Questions? Answered.</h3>
        </header>
        <dl class="faq-grid">
          <% site.data.faq.each do |faq| %>
            <div class="faq">
                <dt><%= faq.q %></dt>
                <dd><%= faq.a %></dd>
            </div>
          <% end %>
          <div class="faq">
              <dt>What if I need financial assistance?</dt>
              <dd>Please fill out our <a href="https://forms.gle/7WDmxkcTnMgbMf3j8" class="text-primary hover:text-dark">Scholarship Application</a></dd>
          </div>
          <div class="faq">
              <dt>Are you looking for sponsors?</dt>
              <dd>Yes! Visit our <a href="/sponsorship" class="text-primary hover:text-dark">Sponsorship Page</a></dd>
          </div>
        </dl>
    </div>
    <img src="/assets/images/faqs/footer-trees.svg" class="bottom-trees" alt="" />
</section>
