<section id="faq"
         class="relative z-20 overflow-hidden pt-20 pb-12 lg:pt-[120px] lg:pb-[90px]"
>
    <img src="/assets/images/faqs/header-trees.svg" class="w-full" />
    <div class="faq-content">
        <div class="container">
            <header class="text-center">
                <h1>FAQs</h1>
                <h3>Questions? Answered.</h3>
            </header>
            <div class="faq-grid">
                <div class="faq">
                    <h3>When is the Call for Papers?</h3>
                    <p>The CFP will open May 15th and close June 30th, 2024. The speaker lineup will be announced on July 22, 2024.</p>
                </div>
                <div class="faq">
                    <h3>How many attendees do you expect?</h3>
                    <p>Our goal is 150. The Venue can hold up to 240.</p>
                </div>
                <div class="faq">
                    <h3>Where's the schedule?</h3>
                    <p>We will finalize the schedule after the speakers have be chosen.</p>
                </div>
                <div class="faq">
                    <h3>Wait. What are Stretch Goals?</h3>
                    <p>This is an excellent idea from the folks at Blue Ridge Ruby. The financial goal of the conference is simply to not lose money and we have no idea how many people we'll get. The plan is to make it work with a small number of attendees. Our stretch goals include recording the talks, t-shirts, and breakfast burritos.</p>
                </div>
                <div class="faq">
                    <h3>When will tickets be available?</h3>
                    <p>The CFP will open May 15th and close June 30th, 2024. The speaker lineup will be announced on July 22, 2024</p>
                </div>
                <div class="faq">
                    <h3>Are you looking for sponsors?</h3>
                    <p>Yes! Visit our Sponsorship Page.</p>
                </div>
                <div class="faq">
                    <h3>Will the conference talks be recorded?</h3>
                    <p>This is a stretch goal. If we sell enough tickets to cover the cost of recording the talks, we will and the videos will be released online for free.</p>
                </div>
                <div class="faq">
                    <h3>Will there be a job fair?</h3>
                    <p>No, but we will have a #jobs channel on our conference Slack group for companies and attendees to share opportunities.</p>
                </div>
            </div>
        </div>
    </div>
</section>
