<section id="faq"
         class="relative z-20 overflow-hidden pt-20 pb-12 lg:pt-[120px] lg:pb-[90px]"
>
    <img src="/assets/images/faqs/header-trees.svg" class="w-full" />
    <h1>FAQs</h1>
</section>
