<div
    id="home"
    style="height: 100%"
    class="relative overflow-hidden bg-primary pt-[120px] md:pt-[130px] lg:pt-[160px]"
>
  <div class="container">
    <div class="-mx-4 flex flex-wrap items-center">
      <div class="w-full px-4">
        <div
          class="hero-content wow fadeInUp mx-auto max-w-[780px] text-center"
          data-wow-delay=".2s"
        >
            <h1
                class="mb-8 text-3xl font-bold leading-snug text-white sm:text-4xl sm:leading-snug md:text-[45px] md:leading-snug"
            >
                The Return of Rocky Mountain Ruby
            </h1>
            <p class="mx-auto mb-10 max-w-[800px] text-base text-[#e4e4e4] sm:text-lg sm:leading-relaxed md:text-xl md:leading-relaxed">
                A two day, single track conference, in the heart of Boulder, Colorado.
            </p>
          <p
            class="mx-auto mb-10 max-w-[600px] text-base text-[#e4e4e4] sm:text-lg sm:leading-relaxed md:text-xl md:leading-relaxed"
          >
              September 28-29, 2023
          </p>
          <ul class="mb-10 justify-left">
              <li>
                  <p
                      class="px-6 text-base font-medium text-white sm:px-10"
                  >
                      May 1st - CFP Opens
                  </p>
              </li>
              <li>
                  <p
                      class="px-6 text-base font-medium text-white sm:px-10"
                  >
                      June 15th - CFP Closes
                  </p>
              </li>
              <li>
                  <p
                      class="px-6 text-base font-medium text-white sm:px-10"
                  >
                      July 1st - Talks Announced
                  </p>
              </li>
              <li>
                  <p
                      class="px-6 text-base font-medium text-white sm:px-10"
                  >
                      July 1st - Ticket Sales Begin
                  </p>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
