<div class="clouds-wrapper" style="position: absolute; width: 100%; overflow-x: visible; ">
  <div id="cloud1" class="cloud"></div>
  <div id="cloud2" class="cloud"></div>
  <div id="cloud3" class="cloud"></div>
</div>
<div id="sky">
  <div class="parallax__layer--back">
    <div class="text-block">
      <h1>Rocky Mountain Ruby</h1>
      <h3 class="mt-1">Monday, October 6th and Tuesday, October 7th</h3>
      <p class="mt-4 text-center">A two day, single track conference in the heart of Boulder, Colorado.</p>
    </div>
  </div>
</div>
<div id="mountain" class="parallax_group">
  <div class="parallax__layer--fore layer">
  </div>
  <div class="parallax__layer--back layer">
    &nbsp;
  </div>
  <div class="parallax__layer--base layer">
    &nbsp;
  </div>
</div>
<div class="mountain-text-box">
  <h4 class="text-white">We're finalizing our exciting program for Rocky Mountain Ruby 2025.</h4>
  <div class="flex mt-16">
    <div class="flex flex-col w-1/2 gap-y-8 justify-center">
      <h6 class="text-white">Check back in July for complete details about schedule and purchasing tickets.</h6>
      <a href="https://2024.rockymtnruby.dev/" target="_blank" class="text-white underline">View our 2024 program and talks.</a>
    </div>
    <div class="flex flex-col w-1/2 bg-secondary-500 p-8 gap-y-8">
      <h6 class="text-white">Call for Proposals:</h6>
      <p class="text-white text-xs leading-relaxed">CFP submissions are now OPEN! If you are inspired to run a talk or a workshop, please read our submission guidelines carefully and apply. CFP closes on June 30, 2025 at midnight. The speaker lineup will be announced on July 10, 2025</p>
      <a href="https://sessionize.com/rocky-mountain-ruby-2025/" target="_blank" class="text-secondary-500 bg-white align-middle p-4 rounded-full text-xs font-semibold shadow hover:bg-gray-100 transition mx-auto block w-auto">Submit Proposal</a>
    </div>
  </div>
</div>
<div id="trees" class="parallax_group">
  <div class="parallax__layer--fore layer">
  </div>
  <div class="parallax__layer--back layer">
    &nbsp;
  </div>
  <div class="parallax__layer--base layer">
    &nbsp;
  </div>
</div>
<script type="text/javascript">
    gsap.to("#cloud1", {
        scrollTrigger: {
            trigger: "#cloud1",
            start: "top center",
            toggleActions: "restart pause reverse pause",
            // markers: true,
            scrub: 3,
        },
        x: -425,
        duration: 5,
    });
    gsap.to("#cloud2", {
        scrollTrigger: {
            trigger: "#cloud2",
            start: "top center",
            toggleActions: "restart pause reverse pause",
            // markers: true,
            scrub: 3,
        },
        x: 225,
        duration: 3,
    });
    gsap.to("#cloud3", {
        scrollTrigger: {
            trigger: "#cloud3",
            start: "top center",
            toggleActions: "restart pause reverse pause",
            // markers: true,
            scrub: 1,
        },
        x: -200,
        duration: 10,
    });
    gsap.to("#mountain .parallax__layer--back", {
        scrollTrigger: {
            trigger: "#sky",
            start: "top top",
            endTrigger: "#mountain",
            end: "top top",
            toggleActions: "restart pause reverse pause",
            // markers: true,
            scrub: 3,
        },
        y: -100,
        duration: 6,
    });
    gsap.to("#mountain .parallax__layer--base", {
        scrollTrigger: {
            trigger: "#sky",
            start: "top top",
            endTrigger: "#mountain",
            end: "bottom 25%",
            toggleActions: "restart pause reverse pause",
            // markers: true,
            scrub: 1,
        },
        y: -250,
        duration: 10,
    });
    gsap.to("#trees .parallax__layer--back", {
        scrollTrigger: {
            trigger: "#sky",
            start: "top top",
            endTrigger: "#trees",
            end: "top top",
            toggleActions: "restart pause reverse pause",
            // markers: true,
            scrub: 3,
        },
        y: -100,
        duration: 6,
    });
    gsap.to("#trees .parallax__layer--base", {
        scrollTrigger: {
            trigger: "#sky",
            start: "top top",
            endTrigger: "#trees",
            end: "bottom 25%",
            toggleActions: "restart pause reverse pause",
            // markers: true,
            scrub: 1,
        },
        y: -400,
        duration: 6,
    });
</script>
