<!--<section class="speakers">-->
<!--  <div class="container">-->
<!--    <header>-->
<!--      <h1><span>The</span>Speakers</h1>-->
<!--      <h3>Offering talks for all levels of Ruby experience, from beginner to advanced.</h3>-->
<!--    </header>-->
<!--    <script type="text/javascript" src="https://sessionize.com/api/v2/y7k3s332/view/SpeakerWall"></script>  </div>-->
<!--</section>-->
<section class="speakers">
  <div class="container">
    <header>
      <h1 class="md:px-8"><span>The</span>Keynote Speakers</h1>
    </header>
    <script type="text/javascript" src="https://sessionize.com/api/v2/y7k3s332/view/SpeakerWall"></script>  </div>
</section>
<div class="speaker-footer">
  <img src="/assets/images/hero/speaker-footer-triangle.svg" class="w-full" alt="" />
</div>
