<section
    id="location"
    class="relative z-20 overflow-hidden bg-white pt-20 pb-8"
>
    <div class="container">
      <div class="mx-auto mb-[60px] text-center lg:mb-20">
            <h3 class="mb-4 font-normal">
                Location
            </h3>
            <h1 class="mb-4">
                Boulder, Colorado
            </h1>
            <p
                class="text-md font-light leading-relaxed text-body-color sm:leading-relaxed text-center"
            >
                Discover Boulder, Colorado, where the breathtaking Rocky Mountain landscapes meet a vibrant city teeming with unique cultural experiences, an eclectic arts scene, and delectable cuisine. Boulder is a city that thrives on the outdoors, so you’ll find plenty of ways to enjoy the fresh mountain air, whether you’re hiking, biking, or simply strolling through the city’s many parks and the historic <a href="https://boulderdowntown.com" class="text-dark hover:text-primary font-bold" target="_blank">Pearl Street Mall</a>. Learn more about Boulder in our <a href="/boulder-guide" class=" font-bold text-dark hover:text-primary">Boulder Guide</a>.
            </p>
        </div>
    </div>
    <div class="wow fadeInUp relative z-20 mb-[60px] h-[300px] overflow-hidden rounded md:h-[400px] lg:h-[500px]" data-wow-delay=".1s
                " style="visibility: visible; animation-delay: 0.1s;">
        <a href="https://boulderdowntown.com" target="_blank">
            <img src="https://img.ctykit.com/cdn/co-boulder/tr:w-1800/default-header-2021.jpg" alt="Downtown Boulder Colorado with mountains in the background" class="h-full w-full object-cover object-center">
        </a>
        <div class="opacity-0 hover:opacity-100 duration-300 absolute inset-10 z-10 flex justify-start items-end text-xl text-white">Photo courtesy of Downtown Boulder &mdash; &copy; 2023</div>
    </div>
    <div class="container">
        <div class="flex flex-col md:flex-row gap-[20px]">
            <div class="w-full md:w-1/2 wow fadeInUp" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
                <a href="https://www.etown.org/" target="_blank">
                    <img src="https://www.etown.org/wp-content/uploads/2021/02/eTown_Hallpic.jpg" alt="Interior of eTown Hall performance venue" class="object-cover object-center">
                    <div class="opacity-0 hover:opacity-100 duration-300 absolute inset-10 pb-8 z-10 flex justify-start items-end text-xl text-white">Photo courtesy of eTown &mdash; &copy; 2023</div>
                </a>
            </div>
            <div class="py-[20px]">
                <h3 class="mb-4 font-normal">
                    Venue
                </h3>
                <h4 class="mb-2 lg:mb-8 font-extrabold text-left">
                    eTown Hall
                </h4>
                <p class="mb-4 font-light max-w-[400px]">
                    eTown Hall is home to the famous <a href="https://www.etown.org/" class="font-bold text-dark hover:text-primary" target="_blank">eTown radio show</a>, as well as eTown’s offices, recording studio, and performance space.
                </p>
                <address>
                    1535 Spruce Street, Boulder, CO 80302.
                </address>
            </div>
        </div>
    </div>  
</section>
