<li>
    <a
        href="<%= sponsor.url %>"
        rel="nofollow noopner"
        target="_blank"
        class="mb-6 mr-5 block w-[120px] xl:max-w-[100px] 2xl:max-w-[120px]"
    >
        <img
            src="/images/sponsors/<%= sponsor.footer_logo ? sponsor.footer_logo : sponsor.logo %>"
            alt="<%= sponsor.name %>"
        />
    </a>
</li>
